.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-img {
    width: 30px;
    height: 28px;
}

.text-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: var(--rr-color-text-color-primary);
}